<div class="hidden absolute top-20 left-0 z-90 bg-white height-full-navbar-footer w-screen flex flex-col justify-center items-center"
     id="contact-modal"
     data-contact-target="modal">

  <%= simple_form_for @contact,
                      url: contact_path,
                      method: :post,
                      html: {
                        class: 'contact-modal-form',
                          data: {
                            'contact-target' => 'form',
                            action: 'submit->contact#submit' } } do |f| %>
    <span data-action="click->contact#hide" class="close-span">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 50 50">
        <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
        </path>
      </svg>
    </span>
    <span class="recaptcha-error-notice hidden" data-contact-target="recaptchaErrorNotice">
      Erreur recaptcha
    </span>
    <%= f.input :email,
                wrapper_html: { class: 'contact-modal-form-input-wrapper' },
                label_html: { class: 'contact-modal-form-input-label' },
                input_html: { class: 'contact-modal-form-input-input text-xs' } %>

    <%= f.input :content, as: :text,
                wrapper_html: { class: 'contact-modal-form-input-wrapper h-36' },
                label_html: { class: 'contact-modal-form-input-label' },
                input_html: { class: 'contact-modal-form-input-input text-sm' } %>
    <%= f.submit 'Envoyer', class: 'submit-btn' %>
    <%= recaptcha_execute('contact') %>
  <% end %>
</div>

<style type="text/css">

</style>
