<nav class="flex justify-between bg-white relative z-50 h-20" data-controller="navbar">
  <div class="px-5 xl:px-12 py-6 flex w-full items-center">
    <%= stimulus_link_to url: root_path do %>
      <%=
        inline_svg_pack_tag "images/logo.svg",
        class: 'h-10 w-8',
        data: {
          controller: 'inline-svg',
          'svg-class' => 'fill-current text-black'
        }
      %>
    <% end %>
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12 absolute left-2/4 transform -translate-x-2/4">
      <li>
        <%= stimulus_link_to str: "Accueil", url: root_path, class: "hover:text-gray-700" %>
      </li>
      <% @main_categories.each do |main_cat| %>
        <li class="group relative">
          <%= stimulus_link_to url: main_category_path(main_cat) do %>
            <%= main_cat.title %>
          <% end %>
          <div class="group-hover:block hidden absolute pt-7 bg-white left-2/4 transform -translate-x-2/4 pb-3 min-w-">
            <% main_cat.categories.each do |cat| %>
              <%= stimulus_link_to url: category_path(cat), class: "dropdown-element" do %>
                <%= cat.title %>
              <% end -%>
            <% end %>
          </div>
        </li>
      <% end %>

      <li><%= stimulus_link_to str: 'Informations', url: informations_path, class: 'hover:text-gray-200' %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
    <div class="hidden xl:flex items-center space-x-5 absolute right-12">
<!--       <a class="flex items-center text-2xl hover:text-gray-700" href="#">
        <i class="far fa-envelope"></i>
      </a> -->
    </div>

    <div class="md:hidden absolute transform -translate-x-full left-full h-full w-20 items-center flex justify-center cursor-pointer"
         data-action="click->navbar#togglePhoneMenu">
      <div class="phone-menu-icon">
        <input class="menu-icon__cheeckbox" type="checkbox" data-navbar-target="togglePhoneMenuButton" />
        <div>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="hidden height-full-navbar-footer absolute w-full left-0 bottom-0"
         style="transform: translateY(100%); background: rgba(255, 255, 255, 0.9);"
         data-navbar-target="phoneMenu"
         data-action="click->navbar#hidePhoneMenu">
      <ul class="text-right px-10">
        <li class="main-category cursor-pointer text-xl mt-12 uppercase font-light tracking-widest">
          <%= stimulus_link_to str: "Accueil", url: root_path %>
        </li>
        <% @main_categories.each do |main_cat| %>
          <li class="main-category cursor-pointer text-xl mt-12 uppercase font-light tracking-widest">
            <%= stimulus_link_to url: main_category_path(main_cat) do %>
              <%= main_cat.title %>
            <% end %>
          </li>
          <% main_cat.categories.each do |cat| %>
            <li class="category cursor-pointer font-extralight uppercase my-1 tracking-wider">
                <%= stimulus_link_to url: category_path(cat), class: "" do %>
                  <%= cat.title %>
                <% end -%>
            </li>
          <% end %>
        <% end %>
        <li class="main-category cursor-pointer text-xl mt-12 uppercase font-light tracking-widest">
          <%= stimulus_link_to str: 'Informations', url: informations_path %>
        </li>
        <% if user_signed_in? %>
          <li class="main-category cursor-pointer text-xl mt-12 uppercase font-light tracking-widest">
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


</nav>
