<nav class="flex justify-between bg-white relative z-50 h-20">
  <div class="px-5 xl:px-12 py-6 flex w-full items-center">
    <%= stimulus_link_to url: root_path do %>
      <%=
        inline_svg_pack_tag "images/logo.svg",
        class: 'h-10 w-8',
        data: {
          controller: 'inline-svg',
          'svg-class' => 'fill-current text-black'
        }
      %>
    <% end %>
    <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12 absolute left-2/4 transform -translate-x-2/4">
      <li>
        <%= stimulus_link_to str: "Accueil", url: root_path, class: "hover:text-gray-700" %>
      </li>
      <% @main_categories.each do |main_cat| %>
      <li class="group relative">
        <%= stimulus_link_to url: main_category_path(main_cat) do %>
          <%= main_cat.title %>
        <% end %>
        <div class="group-hover:block hidden absolute pt-7 bg-white left-2/4 transform -translate-x-2/4 pb-3 min-w-">
          <% main_cat.categories.each do |cat| %>
            <%= stimulus_link_to url: category_path(cat), class: "dropdown-element" do %>
              <%= cat.title %>
            <% end -%>
          <% end %>
        </div>
      </li>
      <% end %>

      <li><a class="hover:text-gray-200" href="#">Informations</a></li>
      <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete %></li>
    </ul>
    <div class="hidden xl:flex items-center space-x-5 absolute right-12">
<!--       <a class="flex items-center text-2xl hover:text-gray-700" href="#">
        <i class="far fa-envelope"></i>
      </a> -->
    </div>
  </div>

  <!-- Responsive navbar -->
  <!-- <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </a> -->
<!--   <ul class="menu">
    <li><a class="menuItem" href="#">Home</a></li>
    <li><a class="menuItem" href="#">Profile</a></li>
    <li><a class="menuItem" href="#">About</a></li>
    <li><a class="menuItem" href="#">Contacts</a></li>
  </ul>
  <button class="hamburger">
    <i class="menuIcon material-icons">menu</i>
    <i class="closeIcon material-icons">close</i>
  </button> -->
</nav>
