<div class="modal absolute top-0 left-0 bottom-0 right-0 w-screen h-screen z-60 flex flex-col justify-center hidden bg-white"
      data-modal-target="modal">
  <div class="w-full h-full relative flex flex-col justify-center">
    <div id="close-modal" data-action="click->modal#hide" title="retour">
      <!-- <i class="fas fa-times"></i> -->
      <svg  class="h-9 w-9 m-4"
            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 50 50" style=" fill:#000000;">
        <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z">
        </path>
      </svg>
    </div>
    <div class="navigate-modal left" data-action="click->modal#previous">
      <i class="fas fa-angle-left"></i>
    </div>
    <div class="navigate-modal right" data-action="click->modal#next">
      <i class="fas fa-angle-right"></i>
    </div>
    <div id="close-modal-bottom" class="md:hidden" data-action="click->modal#hide">
      <i class="fas fa-times"></i>
    </div>
    <% photos.each_with_index do |photo, i| %>
      <div class="elements w-full h-full object-contain absolute px-4 py-12" data-modal-target="element">

        <%#= cl_image_tag photo.image.key, class: "elements w-full h-5/6 object-contain absolute", data: { 'modal-target' => 'element' } %>
        <%= cl_image_tag photo.image.key, class: "modal-image w-full h-full object-contain", data: { target: 'content'} %>
      </div>
    <% end %>
    <div class="absolute bottom-0 h-12 w-screen z-80 hidden sm:flex flex-wrap justify-center px-2">
      <% photos.each_with_index do |photo, i| %>
        <div class="modal-illustrations relative group h-full p-0.5 mt-0.5 cursor-pointer flex flex-col justify-center"
             data-id="<%= i %>"
             data-action="click->modal#navigateTo"
             style="width: calc(100% / <%= photos.size %>);">
          <div class="absolute opacity-0 group-hover:opacity-90 transition-all hidden"
               style="left: 50%; top: 0; width: 21rem; transform: translate(-50%, calc(-100% + -0.25rem)); cursor: default !important;">
            <%= cl_image_tag photo.image.key, class: "object-cover" %>
          </div>
          <%= cl_image_tag photo.image.key, class: "w-full h-full object-cover",
                                            data: { action: "mouseover->modal#showMiniature mouseout->modal#hideMiniature" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
