<!DOCTYPE html>
<html>
  <head>
    <title>Paul Portier | Photographe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <script src="https://www.google.com/recaptcha/api.js?render=<%= ENV['RECAPTCHA_SITE_KEY'] %>"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="" data-controller="navigation contact">
    <%= render 'shared/navbar' %>

    <div class="height-full-navbar-footer">
      <div class="stimulus-body" id="body" data-navigation-target="body">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/contact_form' %>
    <%= render 'shared/footer' %>
  </body>
</html>
